.alert {
  height: 20vh;
  width: 30vw;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  padding: 2vh;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}
.alert1 {
  background-color: rgba(115,5,255,1);
}
.alert2 {
  background-color: rgba(115,5,255,0.8);
}
.alert3 {
  background-color: rgba(115,5,255,0.6);
}
.alert4 {
  background-color: rgba(115,5,255,0.4);
}
.alert5 {
  background-color: rgba(115,5,255,0.2);
  margin-bottom: 50px;
}
.alert h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1.2;
  margin-top: -10px;
}
.alert p {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #FFFFFF;
  margin-top: -10px;
}
.alert a {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #FFFFFF;
  margin-top: -10px;
  text-decoration: underline;
}
.alert a:hover {
  color: #999;
}
.alert .cross {
  float: right;
}
.alert .content-icon {
  float: left;
  width: 28%;
  padding-top: 4.2vh;
  margin-left: 2%;
}
.alert .content-text {
  float: right;
  width: 60%;
  margin-right: 10%;
}
